.difficulty{
    font-weight: lighter;
    font-size: 0.7em;
    color: #555;
}
.difficulty-vhard{
    color: hsl(0, 80%, 49%);
}

.difficulty-hard{
    color: hsl(19, 80%, 50%);
}

.difficulty-normal{
    color: hsl(59, 79%, 63%);
}

.difficulty-easy{
    color: hsl(100, 100%, 60%);
}

.difficulty-veasy{
    color: hsl(118, 78%, 44%);
}